<div class="hero-unit">
  <form id='signin' action="/user_signup" method="post">
    <input type="text" name="username" placeholder="username">
  <br>
    <input type="password" name="password" placeholder="password" >
  <br>
    <input class="btn btn-primary" type="submit" >
  </form>
  <h1 style="float:right;">Make a Web Page... on a Web Page?</h1>
</div>
